.cards {
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
}

.card {
    min-width:76px;
    width:12%;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
    
    
}

.card:nth-child(odd) {
    margin-bottom:3.5rem;
}

.card >img {
    width:100%;
}

.card >span {
    font-family:var(--spanfont);
    font-size:1.25rem;
    margin-top:1em;
    text-align:center;
}

@media screen and (max-width: 575px) {
				
    .cards {
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
    justify-items: center;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr auto 1fr;
    grid-column-gap:6vw;
    }

    .card {
        min-width:69px;
        max-width:104px;
        width:20vw;
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        align-items:center;
    }

    .card:nth-child(odd) {
        margin-bottom:0;
    }

    .card:nth-child(1) {
        grid-area:1/1/2/2;
    }
    .card:nth-child(2) {
        grid-area:3/1/4/2;
        align-self: start;
    }
    .card:nth-child(3) {
        grid-area:2/2/3/3;
    }
    .card:nth-child(4) {
        grid-area:3/3/4/4;
        align-self: start;
    }
    .card:nth-child(5) {
        grid-area:1/3/2/4;
    }
}