.foot {
					
    text-align:center;
    font-size:2.5rem;
    font-family:var(--seriffont);
    font-weight:normal;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-end;
    box-sizing:border-box;
    padding-bottom:20px;
    color:black;
    margin-top:3em;
    font-weight:bold;
}

.footbox {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    width:550px;
    margin-top:.2em;
}

.footinfo {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.footinfo >a >img {
    width:25px;
    height:25px;
    padding:16px;
    border-radius: 50%;
    background:#1a0969;
}

.footinfo >span {
    font-size:1.2rem;
    font-family: var(--spanfont);
    margin-top:.3em;
    font-weight:normal;
}


@media screen and (max-width: 1399px) {
	
}

@media screen and (max-width: 1199px) {
	
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
	.foot {
        font-size:2rem;
        padding-bottom:30px;
        margin-top:6em;
        line-height:1em;
    }
    
    .footbox {
        display:flex;
        margin-top:.2em;
        align-items:center;
        flex-direction: column;
        justify-content:center;
    }
    
    .footinfo {
        align-items: center;
        margin-top:.6em;
    }
    
    
    .footinfo >span {
        font-size:1rem;
        margin-top:0;
        margin-left:10px;
        
    }
}

@media screen and (max-width: 575px) {
    .footbox {
        width:100%;
    }

}


